In [9]:
#'洲名','國家','日期','總確診數','新增確診數'
import pandas as pd

all_data = pd.read_csv('world.csv')
df1 = all_data[['洲名','國家','日期','總確診數','新增確診數']]
df1['日期'] = pd.to_datetime(df1['日期'])
df2 = df1.set_index('日期')
taiwan_df = df2.query('國家=="台灣"')
taiwan_df

/tmp/ipykernel_44298/2114358428.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['日期'] = pd.to_datetime(df1['日期'])

            洲名  國家     總確診數  新增確診數
日期
2020-01-16  亞洲  台灣        0      0
2020-01-17  亞洲  台灣        0      0
2020-01-18  亞洲  台灣        0      0
2020-01-19  亞洲  台灣        0      0
2020-01-20  亞洲  台灣        0      0
...         ..  ..      ...    ...
2022-07-02  亞洲  台灣  3837856  34807
2022-07-03  亞洲  台灣  3870528  32672
2022-07-04  亞洲  台灣  3893643  23115
2022-07-05  亞洲  台灣  3929627  35984
2022-07-06  亞洲  台灣  3964188  34561

[903 rows x 4 columns]

In [13]:
taiwan_df.sort_values(by='新增確診數',ascending=False)[:5]

            洲名  國家     總確診數   新增確診數
日期
2022-05-14  亞洲  台灣   699824  128954
2022-05-09  亞洲  台灣   397504  128935
2022-05-27  亞洲  台灣  1735067   94796
2022-05-19  亞洲  台灣  1070561   89420
2022-05-25  亞洲  台灣  1558380   89361